[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-crontab = "*"
djongo = "*"
dnspython = "*"
pymongo = "<=3.12.1"
requests = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
